body,   button {
    font-family: 'Poppins' !important;
}

.logo {
    width: 85%;
}
 
.btn-success {
    background-color: #25d366 !important;
    border-radius: 40px;
    color: white !important;
}
 
.btn-success:hover {
    background-color: #0ad118 !important;
    color: white !important;
}

h4 {
    text-align: center;
}

#oc_script {
    z-index: 999 !important;
}
.header-menu {
    background-color: #131517;
    color: white;
    text-align: center;
    font-size: 50px;
    border-radius: 5px;
}

.category-title {
    background-color: #0c3f66;
    color: white;
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
}


.card:hover {
    color: #0c3f66;
    transform: scale(1.1) !important; 
    z-index: 10;
}

.footer {
    background-image: url('https://www.healthline.com/hlcmsresource/images/AN_images/healthy-eating-ingredients-1200x628-facebook.jpg');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
}

.footer-img {
    background-color: black;
    opacity: 0.8;
    height: 100%;
    color: white;
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
}

.icon {
    border-style: dotted;
    border-radius: 50%;
    color: white;
    padding: 8px;
}

.icon:hover {
    color: black;
    background-color: white;
    border-style: solid;
}

.bottom-text {
    background-color: #131517;
    color: ghostwhite;
}


/* Pizza corner style */
.breadcrumb {
    background-color: #0c3f66 !important;
    font-size: 20px;
}

.list-item-img {
    width: 80px;
    border-radius: 50%;
}
.navbar {
    padding: 0 0;
}
small {
    font-size: 10px;
    color: red;
}


/* Responsive to specific width */
@media only screen and (max-width: 425px) {
    .nav-link {
        font-size: small !important;
    }

    .nav-item:not(:last-child) {
        border-bottom: 1px solid grey;
    }

    .logo {
        width: 60% !important;
    }

    .header-menu {
        padding: 10px !important;
        font-size: 25px !important;
    }

    .category-title {
        padding: 8px !important;
        font-size: 15px !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1000px) {
    .nav-link {
        font-size: 12px !important;
    }

    .nav-item:not(:last-child) {
        border-bottom: 1px solid grey;
    }
}